html {
  font-size: 16px;
}

body {
  max-width: 1000px;
  margin: auto;
}

.outer {
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
}

.header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header img {
  width: 100%;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 2vw;
  padding-bottom: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(249, 244, 236);
}

.container img {
  width: 90%;
  max-width: 600px;
  margin-top: 2vw;
  margin-left: 2vw;
}

.container h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: left;
  font-size: calc(1rem + 1.5vw);
  line-height: 1.2;
  margin-top: 2vw;
  margin-left: 2vw;
  max-width: 600px;
}

.container p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(0.8rem + 0.5vw);
  text-align: left;
  line-height: 1.2;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  max-width: 600px;
}

.container a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(0.8rem + 0.5vw);
  line-height: 1.2;
  color: rgb(162, 2, 2);
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-column-start: 10;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: left;
  margin-top: 2vw;
  border-left: 1px solid rgb(205, 205, 205);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(249, 244, 236);
}

.sidebar img {
  width: 70%;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 3px 3px 2px rgb(156, 153, 153);
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
}

.sidebar h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: calc(1.5rem + 0.5vw);
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
}

.sidebar p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  line-height: 1.2;
  margin-left: 2vw;
  margin-right: 2vw;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(0.2rem + 0.5vw);
  margin-bottom: 2vw;
}

.social i {
  font-size: calc(1rem + 1.5vw);
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

.sidebar h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: calc(0.8rem + 1vw);
  line-height: 1.2;
  margin: 2vw;
  color: rgb(0, 0, 0);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  border-radius: 10px;
  background: rgb(237, 205, 209);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
}

.footer h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 1.5rem;
  color: rgb(162, 2, 2);
}

.footer i {
  font-size: calc(1rem + 1.5vw);
  padding: 0.5rem;
  color: rgb(162, 2, 2);
}
