html {
  font-size: 16px;
}

body {
  background: #FCF8ED;
  max-width: 1000px;
}

.container {
  margin: auto;
  width: 50vw;
}

.container img {
  width: 50vw;
}

nav ul, footer ul {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: rgb(172, 0, 0);
}

a:hover {}

h1 {
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  color: rgb(27, 27, 27);
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;
  color: rgb(27, 27, 27);
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;
  color: rgb(27, 27, 27);
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: rgb(27, 27, 27);
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8rem;
}

ul.posts {
  margin: 20px auto 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: rgb(27, 27, 27);
}

ul.posts li {
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: rgb(27, 27, 27);
}
ul.posts p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: rgb(27, 27, 27);
}
